/*Probably rewrite into separate styles in sass and compile into here when time available*/
* {
  padding: 0;
  margin: 0;
}
/*scrollbar in projects list*/
.list_container::-webkit-scrollbar {
  width: 15px;
}

.list_container::-webkit-scrollbar-track {
  background: rgba(220, 220, 220, 0.9);  
  border-radius: 10px;
}

.list_container::-webkit-scrollbar-thumb {
  background-color: #5b899e; 
  border-radius: 10px;
}
body {
  background-color: #2e3842;
  overflow-x: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  background-color: #2e3842;
  position: relative;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.btn_link {
  width: 10vw;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 1rem 0;
  font-size: 20px;
  transition: 0.25s ease-in-out;
  margin: .4rem 0;
  font-weight: 500;
}
.btn_link:hover {
  background-color: #384C55;
}
.sidebar_list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
}
.sidebar_list h2 {
  border: none;
  border-bottom: 2px solid grey;
}
.sidebar_list_link {
  text-decoration: underline;
}
.sidebar_list span, .sidebar_list a {
  font-size: 18px;
  color: rgb(202, 200, 200);
  margin: 0.5rem 0;
}
.btn_goback {
  color: grey;
  position: absolute;
  left: 0;
  top: 60px;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  cursor: pointer;
  transition: 0.25s ease-in-out
}
.btn_goback:hover {
  color: #fff;
  border-color: #fff;
}

.header {
  min-height: 60px;
  background-color: #424c55;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  position: relative;
}
.header_logo {
  color: white;
  border-right: 1px solid white;
  padding-right: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.header nav {
  margin-left: 4px;
}
.header nav ul {
  display: flex;
  flex-flow: row nowrap;
}
.header nav ul li {
  list-style: none;
  margin: 0 4px;
}
.nav-link {
  color: lightgrey;
  transition: 0.2s ease-in-out;
}
.nav-link:hover {
  color: #fff
}
.active {
  text-decoration: underline;
  color: #fff;
}
.lang_switcher_wrapper {
  position: absolute;
  right: 0;
  padding: 0 2vw;
}
.lang_switcher {
  margin: 0 0.2rem;
  color: rgb(200,200,200);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.lang_switcher_active {
  color: white;
  margin: 0 0.2rem;
}
.lang_switcher:hover {
  color: white;
}

.content {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
}
.home_container, .projects_container, .project_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home_container {
  color: #fff;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}
.home_container h1 {
  margin: 0.2rem 0;
}
.marked_text {
  color: #198754;
}

.projects_container h1, .projects_container h2 {
  color: #fff;
}
.projects_container p {
  color: rgb(200,200,200);
}
.grid_subtitle {
  max-width: 100%;
  max-height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: fit-content;
}
.text_container {
  width: 80%;
  box-sizing: border-box;
  padding: .5rem;
  margin: 0.5rem 0;
}
.text_container p {
  text-align: left;
  margin-bottom: 0;
}

.project_preview_container {
  width: 90%;
  height: 60vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem 0;
  justify-self: center;
  padding: 0.3rem 0;
  background-color: #414C55;
}
.project_preview_container a {
  color: whitesmoke;
  font-size: 20px;
}
.grid_img {
  grid-area: img;
  justify-self: center;
  align-self: center;
  width: 100%;
  border-radius: 10px;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.project_about_box {
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}
.project_text_box {
  grid-area: text;
  justify-self: center;
  width: 90%;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
}
.project_text_box a {
  grid-area: "link";
  align-self: center;
  transition: .25s ease-in-out;
  color: #d3d3d3;
}
.project_text_box a:hover {
  color: #fff;
}
.grid_title {
  margin: 1rem 0;
}
.project_container {
  width: 100%;
  margin-top: 1vh;
}
.project_container h1, .project_container h2 {
  color: #fff;
}
.project_container p {
  color: rgb(200,200,200);
}

.about_container h1, .about_container h2 {
  color: #fff;
}
.about_container p {
  color: rgb(200,200,200);
}
.about_container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 1vh;
}
.about_container img {
  width: 80%;
  justify-self: center;
  align-self: center;
}
.about_text_wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.about_text_container {
  margin: .5rem 0 !important;
}
.about_text_container p {
  font-size: 24px;
}
.skills_container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
}
.skills_container h2, .about_text_wrapper h1 {
  border: none;
  border-bottom: 2px solid grey;
}
.skills_container span {
  font-size: 18px;
  color: rgb(170,170,170);
  margin: 0.5rem 0;
}

.list_container, .img_list_container {
  width: 80%;
  justify-content: space-evenly;
  padding: .3rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin: 1vh 0;
  overflow-y: auto;
  max-height: 65vh;
}
.img_list_container {
  display: flex;
  flex-flow: row wrap;
}
.list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list_images {
  max-height: 50vh !important;
}
.listed_img {
  max-width: 25%;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  max-height: 100%;
}

.image_display_container {
  width: 80vw;
  height: 80vh;
  position: absolute;
  z-index: 1;
  background-color: rgb(20,20,20);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_display_container img {
  max-height: 80%;
}
.btn_close_display {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  color: grey;
}

.repo_list {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
/* image fullscreen display */
.opacity_box {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
}

/* project section */
.project_about_text {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  width: 100%;
}
.project_text_wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.project_text_wrapper p {
  font-size: 1.2em;
}
.repo_list, .tech_list {
  align-self: flex-start;
}
.repo_list a {
  text-decoration: underline;
}
@media only screen and (max-width:1440px) {
  .project_about_text {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .repo_list {
    justify-self: end;
  }
  .tech_list {
    justify-self: start;
    margin-right: 3vw;
  }
  .btn_link {
    width: 15vw;
  }
}
@media only screen and (max-width:720px) {
  .project_about_text {
    margin-top: 5vh;
  }
  .tech_list {
    justify-self: start;
  }
  .btn_link {
    width: 30vw;
  }
}